SITE_NAME='' #nome do sistema
API_URL='' #url da api 
PERMITTED_HOST='*' #host permitido para utilizar a API, use * para liberar para todos (não recomendado) ou o ip correto do front-end (ex: http://localhost:5173)

DB_HOST='' #host do banco de dados
DB_NAME='' #nome do banco de dados
DB_USER='' #usuario
DB_PASSWORD='' #senha

JWT_SECRET='{sua_chave}-jwt-secret' #secret do JWT

#credenciais para funcoes da NFe
CERTIFICATE='certificate.pfx' #arquivo do certificado digital na raiz do projeto
CERTIFICATE_PASSWORD='' #senha do certificado digital
AMBIENTE=2 #ambiente 1 = producao; 2 = homologacao
RAZAO_SOCIAL=''
NOME_FANTASIA=''
CNPJ=''
IE='' #IE RG da empresa (se tiver)
UF=''
CODIGO_UF=''
CODIGO='' #codigo IBGE da cidade
RUA=''
NUMERO=''
BAIRRO=''
CIDADE=''
TELEFONE=''
CEP=''

EMAIL='' #email do service de Emails
EMAIL_CODE='' #codigo da API do Google para permitir envio de emails

CONTACT_DOC='' #documento da empresa responsável técnica
CONTACT_NUMBER='' #telefone da empresa responsável técnica
CONTACT_EMAIL='' #email de contato da empresa responsável técnica